/gen/
/bin/
local.properties
/nbandroid/
/src/no/hials/muldvarp/media/
/src/no/hials/muldvarp/v2/testpackages/
/src/no/hials/muldvarp/v2/fragmentTest/
/src/no/hials/muldvarp/v2/testClasses/
/src/no/hials/muldvarp/v2/deprecated/
/src/no/hials/muldvarp/v2/fragments/deprecated/
.DS_Store
/res/layout/unusedQUIZMAIN.xml