/gen/
/bin/
local.properties
/nbandroid/
/src/no/hials/muldvarp/media/
/src/no/hials/muldvarp/v2/testpackages/
/src/no/hials/muldvarp/v2/TopActivity.java
/src/no/hials/muldvarp/v2/fragmentTest/
/src/no/hials/muldvarp/v2/testClasses/