<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="no.hials.muldvarp"
          android:versionCode="1"
          android:versionName="1.0"
          android:installLocation="auto">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-sdk android:minSdkVersion="14"
              android:targetSdkVersion="14" />
    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher"
                 android:debuggable="true" android:theme="@android:style/Theme.Holo.Light">
        <activity android:name=".v2.TopActivity"
                  android:label="@string/app_name">
                <intent-filter>
                    <action android:name="android.intent.action.MAIN" />
                    <category android:name="android.intent.category.LAUNCHER" />
                </intent-filter>
                <intent-filter>
                    <action android:name="no.hials.muldvarp.ACTION_START_ACTIVITY"/>
                    <category android:name="android.intent.category.DEFAULT" />
                </intent-filter>
                <meta-data
                android:name="android.app.default_searchable"
                android:value=".SearchActivity" />
        </activity>
        <activity android:name=".v2.QuizActivity"
                  android:screenOrientation="portrait"
                  android:label="Quiz"/>
        <activity android:name=".v2.QuizMainActivity"
                  android:screenOrientation="portrait"
                  android:label="QuizMain"/>
        <activity android:name=".v2.QuizResultActivity"
                    android:label="QuizResult"/>
        <activity android:name=".v2.MuldvarpPreferenceActivity"
                    android:label="Preferences"/>
        <activity android:name=".v2.DetailActivity"
                    android:label="Preferences"/>
        <service android:name=".v2.MuldvarpService" />

       <receiver android:name=".v2.testClasses.MuldvarpService" android:enabled="true">
            <intent-filter>
                <action android:name="no.hials.muldvarp.ACTION_START_ACTIVITY"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
