<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="no.hials.muldvarp"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="14"
              android:targetSdkVersion="14" />
    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher"
                 android:uiOptions="splitActionBarWhenNarrow" android:debuggable="true">
        <activity android:name="MainActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".courses.CourseActivity"
                  android:label="Courses">
        </activity>     
        
        <activity android:name=".courses.CourseDetailActivity"
                  android:label="Course Detail">
        </activity>
        <activity android:name=".library.LIBMainscreen"
                  android:label="Library">
        </activity>

        <activity android:name=".video.VideoActivity"
                  android:label="Video">
        </activity>
        
        <activity android:name=".video.DirectoryActivity"
                  android:label="Directory">
        </activity>
        <activity android:name=".library.LibraryDetail"
                  android:label="LibraryDetails">
        </activity>

    </application>
</manifest>
