<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="no.hials.muldvarp"
          android:versionCode="1"
          android:versionName="1.0"
          android:installLocation="auto">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-sdk android:minSdkVersion="14"
              android:targetSdkVersion="14" />
    <application android:label="@string/app_name" android:icon="@drawable/mole_icon"
                 android:debuggable="true" android:theme="@android:style/Theme.Holo.Light">
        <activity android:name=".v2.MainActivity"
                  android:label="@string/app_name">
                <intent-filter>
                    <action android:name="android.intent.action.MAIN" />
                    <category android:name="android.intent.category.LAUNCHER" />
                </intent-filter>
        </activity>

        <service android:name=".v2.MuldvarpService" />
        
        <activity android:name=".v2.ProgrammeActivity"
                  android:label="Studieløp"/>
        
        <activity android:name=".v2.CourseActivity"
                  android:label="Fag"/>
        
        <activity android:name=".v2.TaskActivity"
                  android:label="Delemne"/>
        <activity android:name=".v2.DetailActivity"
                  android:label="Detaljer"/>
    </application>    
</manifest>
